@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f3f5;
}

.dark body {
  background-color: #343a40;
}

h1,
h2,
h3,
p {
  color: "black";
}

.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark select,
.dark a {
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
